.navbar {
    overflow: hidden;
    background-color: rgb(217, 188, 138);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 188, 138);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.navbar2 {
    overflow: hidden;
    background-color: rgb(217, 188, 138);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px;
}

.navbar2 a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar2 a:hover,
.dropdown2:hover .dropbtn2,
.dropbtn2:focus {
    background-color: red;
}

.dropdown2 {
    float: left;
    overflow: hidden;
}

.dropdown2 .dropbtn2 {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar2 a:hover,
.dropdown2:hover .dropbtn2,
.dropbtn2:focus {
    background-color: red;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(217, 188, 138);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.show2 {
    display: block;
}

.center {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-size: larger;
}

body {
    font-family: Coolvetica;
}