.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid-item {
    background-color: blanchedalmond;
    font-size: 16px;
    padding: 20px;
}

.title {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
    font-family: belda-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
    margin: 10px auto;
}

.main1 {
    grid-column: 1 / span 3;
    grid-row: 3;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main2 {
    grid-column: 1 / span 3;
    grid-row: 4;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main3 {
    grid-column: 1 / span 3;
    grid-row: 5;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.support1 {
    grid-column: 1 / span 2;
    grid-row: 6;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.support2 {
    grid-column: 3 / span 1;
    grid-row: 6;
    font-family: belda-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    box-sizing: border-box;
}

.cursor {
    cursor: pointer;
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    margin: 20px auto;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}