.container {
    width: 1000px;
    margin: 0px auto;
    border: 4px ridge black;
    padding: 50px;
    background-color: rgb(241, 231, 186);
}

button {
    border: none;
    background-color: rgb(254, 145, 99);
    color: white;
    font-family: Arial;
}

button:hover {
    background-color: #ff3c00;
    color: white;
}

.top {
    background-color: rgb(254, 145, 99);
}

.photo {
    text-align: center;
}