* {
  /*Miscellaneous*/
  box-sizing: border-box;
}

.header {
  /*Box model stuff*/
  padding: 20px;
  background-color: darkgrey;
  /*Typography stuff*/
  text-align: center;
  color: wheat;
}

body {
  /*Box model stuff*/
  background-color: rgb(236, 186, 155);
  /*Typography stuff*/
  font-family: monospace;
  font-size: 1.2em;
  color: goldenrod;
  /*Miscellaneous*/
  line-height: 1.6;
  overflow-x: hidden;
}

.nav {
  /*Display stuff*/
  display: flex;
  align-items: center;
  /*Positioning stuff*/
  position: sticky;
  top: -30px;
  /*Box model stuff*/
  height: 120px;
  background-color: black;
  /*Typography stuff*/
  color: white;
}

.nav-inner {
  /*Positioning stuff*/
  position: sticky;
  top: 0;
  /*Box model stuff*/
  width: 100%;
  /*Miscellaneous*/
  float: left;
}

.logo {
  /*Box model stuff*/
  width: 30%;
  margin-top: -10px;
  padding: 40px;
  /*Miscellaneous*/
  float: left;
}

.logo p {
  /*Box model stuff*/
  margin: 0;
  /*Typography stuff*/
  font-family: "coolvetica", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.left {
  /*Box model stuff*/
  width: 20%;
  /*Miscellaneous*/
  float: left;
}

nav {
  /*Box model stuff*/
  width: 70%;
  padding: 40px;
  padding-top: 60px;
  /*Typography stuff*/
  text-align: right;
  /*Miscellaneous*/
  float: left;
}

nav a {
  /*Box model stuff*/
  margin-left: 10px;
  /*Typography stuff*/
  font-family: "belda-condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.nav-left a {
  /*Display stuff*/
  display: block;
  /*Box model stuff*/
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: darkgrey;
  /*Typography stuff*/
  text-align: center;
  text-decoration: none;
  color: wheat;
}

.main {
/*Box model stuff*/
  width: 60%;
  padding: 0 20px;
/*Miscellaneous*/
  float: left;
}

.right {
  /*Box model stuff*/
  width: 20%;
  margin: 10px 0;
  padding: 15px;
  background-color: darkgrey;
  /*Typography stuff*/
  color: wheat;
  /*Miscellaneous*/
  float: left;
}

.footer {
  /*Box model stuff*/
  margin-top: 10px;
  padding: 10px;
  background-color: darkgray;
  /*Typography stuff*/
  color: wheat;
  /*Miscellaneous*/
  clear: both;
}

footer {
  /*Box model stuff*/
  width: 60%;
  margin: 0 auto;
}

h1 {
  /*Typography stuff*/
  font-weight: 900;
}

p {
  /*Typography stuff*/
  font-size: 400;
}

@media (min-width: 621px) and (max-width: 1000px) {
  .main {
    width: 80%;
  }

  .right {
    width: 100%;
  }

  p {
    font-size: 700;
  }
}

@media only screen and (max-width: 620px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}

.box::before {
  /*Display stuff*/
  content: "";
  /*Positioning stuff*/
  position: absolute;
  /*Box model stuff*/
  width: 100%;
  height: 100%;
  background: linear-gradient(#00ccff, #d50);
  /*animation stuff*/
  animation-delay: 0s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-play-state: running;
}

.box::after {
  content: "";
  position: absolute;
  border-radius: 16px;
  background-color: #0e1538;
  inset: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Positioning stuff*/
  position: relative;
  /*Box model stuff*/
  width: 100%;
  height: auto;
  margin: 0px 30px 0px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 5);
  /*Miscellaneous*/
  -ms-align-items: center;
  overflow: hidden;
}

/* everything below this is from https://alvarotrigo.com/blog/hamburger-menu-css/--> */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #ff0000;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69d2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
