.nav-item a:hover {
    border-bottom: 1px solid white;
}

.collapse {
    margin-left: 50px;
}

.nav-link {
    font-size: 15px;
}

.navbar {
    margin-bottom: 10px;
}

h1 {
    color: rgb(199, 13, 50);
    font-family: elza-narrow, sans-serif;
    font-style: normal;
    font-weight: 100;
}