.nav-item a:hover {
    border-bottom: 1px solid white;
}

.nav-link {
    font-size: 15px;
}

h1,
h2,
h3 {
    color: crimson;
    font-family: elza-narrow, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.contact_link {

    background-color: transparent;

    color: black;
    margin: 30px;

    border: double red 2px;
    border-radius: 5%;
    padding: 10px;

    text-align: center;

    display: inline-block;

    font-size: 20px;

    transition-duration: 0.5s;

    cursor: pointer;

}

.contact_link:hover {

    background-color: rgb(228, 228, 228);

    color: white;

}