body {
    height: 100%;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    background-color: black;
}

.box {
    font-family: cheddar-gothic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(253, 228, 136, 0.7);
    border: solid;
    padding: 50px;
    margin: 20px 50px 50px;
    box-shadow: 0 0 0 5px red;
    outline: dashed 5px white;
    height: auto;
}

p {
    font-size: larger;
}

h1 {
    font-family: ballinger-mono, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: ballinger-mono, sans-serif;
    font-weight: 500;
    font-style: normal;
}