.container {
    background-color: rgb(255, 237, 214);
}

body {
    font-family: dair, serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}